<!DOCTYPE html>
{% extends 'adminlogin.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block mainadmin %}
    <div class="row mt-2">
        <div class="col-md-8 mx-auto p-3 shadow text-center" style="background-color: darkgrey; border-radius: 10px;">
            <h4 style="color: white;">Welcome back, Admin &nbsp;<i class="fa-regular fa-face-laugh-beam" style="color: #ffffff;"></i></h4>
        </div>
    </div>

    
    {% endblock %}
</body>
</html>