<!DOCTYPE html>
{% extends 'studentlayout.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block student %}
    <h1 class="text-center fw-bold mt-4">Complaint Form</h1>
    {% for i in S  %}
    <form action="{% url 'Complaintsave' i.id %}" method="post">
        {% csrf_token %}
        {% endfor %}
        <div class="row border p-4 mt-4" style="background-image:linear-gradient(rgba(0, 0, 0, 0.478),rgba(0, 0, 0, 0.73)) ,url(../static/img/pic5.jpg); height:100%; background-repeat: no-repeat; background-size: cover; margin-left: 50px; margin-right: 50px; border-radius:20px;">
           <div class="col-md-12 text-center mx-auto">
            <h3 style="color: white;">Subject:</h3>
            <input type="text" name="Subject" class="form-control" placeholder="Enter Subject">
           </div>
           <div class="col-md-12 mt-3 text-center">
            <h3 style="color: white;">Register Your Complain Here:</h3>
            <textarea style="height: 100px; width:100%; border-radius: 15px;" name="comp" class="border" placeholder="Write Your Complain Here"></textarea>
           </div>
           <div class="col-md-12 mt-3">
            <button class="btn btn-danger w-100 ">Submit Complain</button>
           </div>
        </div>
    </form>

    {% endblock %}
</body>
</html>