<!DOCTYPE html>
{% extends 'studentlayout.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block student %}
    <div class="row m-4">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr class="text-center" style="background-color: darkgray;">
                    <th>Serial Number</th>
                    <th>Course</th>
                    <th>Branch</th>
                    <th>Year</th>
                    <th>Subject</th>
                    <th>File Name</th>
                    <th>Download</th>
                </tr>
                {% for i in assi %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.program}}</td>
                    <td>{{i.Branch}}</td>
                    <td>{{i.Year}}</td>
                    <td>{{i.subject}}</td>
                    <td>{{i.file_name}}</td>
                    <td><a href="{{i.new_file.url}}">Read More</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock %}
</body>
</html>